---
---

@import "{{ site.theme }}";

details {
    //border: 1px solid #aaa;
    padding: 0.5em 0.5em 0.1em 0.5em;

    summary::before {
        content: "▶ ";
    }
    summary {
        font-weight: bold;
        color: #aaa;
    }

}

details[open] {
    border-left: 2px solid black;

    summary::before {
        content: "▼ ";
    }
    summary {
        color: #000;
    }
}
