---
---

@import "{{ site.theme }}";

details {
    border: 1px solid #aaa;
    padding: 0.5em;

    summary::before {
        content: "➤ ";
    }

    summary {
        font-weight: bold;
    }

}

details[open] {
    border-color: #000;
}
details[open] summary::before {
    content: "▼ ";
}
